<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common :: meta_header('ホーム',~{::link},~{::script})">
    <link rel="stylesheet" th:href="@{/css/index/index.css}" />
</head>

<body>
    <!-- ヘッダの読み込む -->
    <div th:replace="common/common :: header"></div>
    <!-- メニューの読み込む -->
    <div th:replace="common/common :: menu"></div>
    
    <div class="row justify-content-md-center">
        <div sm="8">
            <h1 style="text-indent: 2rem;">
                本システムは社内教育システムとします。<br>
            </h1>
            <p class="text-danger">※左のメニューから各サブシステムに遷移してください。</p>
        </div>
    </div>
</body>